.component {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.test {
    margin: 0 30px;
}
.button {
    width: 100%;
    margin-top: 1.5rem;
    background: #303B59;
    color: #FFFFFF;
    border-radius: 128px;
    padding-top: 17px;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    border: none
}

.button:hover {
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    cursor: pointer;
}


@media screen and (min-width: 600px) {
    .component {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
border-radius: 32px;
    }
}